.code-viewer pre {
    width: 100ch;
}

.wrapper {
    display: flex;
    justify-content: center;
}

body {
    background: rgb(50, 41, 49);
}



.example-wrapper {
    display: inline-grid;
    grid-template-columns: calc(50% - 13px) calc(50% - 13px);
    grid-column-gap: 26px;
    grid-row-gap: 25px;
    width: 100%;

}

.example-wrapper > div {
    position: relative;
    border: 1px solid black;
    box-sizing: border-box;
    display: flex;
    justify-items: center;
    justify-content: center;
}

.example-wrapper > div::before {
    content: '';
    display: block;
    padding-top: 100%;
}

.example-wrapper > div > div {
    margin: auto 0;
    padding: 25%;
}

.grid-center {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    justify-items: center;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation .button {
    align-self: center;
}

.button {
    height: 40px;
    width: 100px;
    border: none;
    box-shadow: none;
    cursor: pointer;
    border-radius: 3px;
    background-color: rgb(43, 34, 42);
    filter: brightness(200%);
    color: white;
}


.example-modal {
    position: fixed;
    left: 25%;
    right: 25%;
    top: 10px;
}
